body { 
	  color: #222; 
  background-color:#3c3c3c !important;
  background-image: url(../../img/bg-default.png) !important;
}

#header.navbar-inverse .navbar-inner {
  background-color: #0e0e0f;
  background-image: -moz-linear-gradient(top, #0e0e0f, #2a2b2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a2b2e), to(#2a2b2e));
  background-image: -webkit-linear-gradient(top, #0e0e0f, #2a2b2e);
  background-image: -o-linear-gradient(top, #0e0e0f, #2a2b2e);
  background-image: linear-gradient(to bottom, #0e0e0f, #2a2b2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e0e0f', endColorstr='#ff2a2b2e', GradientType=0);
  border-color: #141313;
  webkit-box-shadow: 0 1px 10px rgba(120, 120, 120, .1);
    -moz-box-shadow: 0 1px 10px rgba(120, 120, 120, .1);
         box-shadow: 0 1px 10px rgba(120, 120, 120, .1);
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
  background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {
  border-left-color: #2c2d2f;
  border-right-color: #181a1b;
}

#sidebar > ul > li > a {
  border-top: 1px solid #424242 !important;
  border-bottom: 1px solid #282828 !important;
  color: #d1d0d0 !important;
  text-shadow: 0 1px 1px #333 !important;
}

#sidebar > ul > li a i {
   color: #999 !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  background: #1e1f21;
  background: -webkit-linear-gradient(bottom, #1e1f21, #232527);
  background: -ms-linear-gradient(bottom, #1e1f21, #232527); 
  background: -moz-linear-gradient(bottom, #1e1f21, #232527);
  background: -o-linear-gradient(bottom, #1e1f21, #232527);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e1f21', endColorstr='#ff232527', GradientType=0);
  border-top: 1px solid #303234;
  border-bottom: 1px solid #161718;
}

#sidebar > ul > li.active > a{
  background: #252728 !important;
  border-top: 1px solid #1c1d1e !important;
  border-bottom: 1px solid #242628 !important;
}  

#sidebar > ul > li > ul.sub > li > a {
  color: #ccc;
  text-shadow: 0 1px 1px #000;
}

#sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover {
  color: #fff !important;
  background: #534f4e !important;  
   -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
             border-radius: 2px !important;
}

#sidebar > ul > li > ul.sub > li > a:hover {
  background: #534f4e !important;
}

/* sub menu bg color on hover menu item */
.sidebar-closed #sidebar > ul > li:hover .sub {
  background-color: #2a2b2e;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) { 
  #sidebar {
    background-color: #232427 !important;
     -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
             border-radius: 4px !important;
  }

  #sidebar > ul > li > a {
    border-top: 1px solid #2c2d30 !important;
    border-bottom: 1px solid #191a1c !important;
  }

  #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
    border-top: 1px solid #2c2d30 !important;
    border-bottom: 1px solid #191a1c !important;
  }
}

.w3lsg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 75%;
	z-index: -1;
}
.w3lsg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(72, 110, 52, 0);
	bottom: -160px;
	-webkit-animation: square 25s infinite;
	-moz-animation: square 25s infinite;
	-o-animation: square 25s infinite;
	-ms-animation: square 25s infinite;
	animation: square 25s infinite;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	transition-timing-function: linear; 
}
.w3lsg-bubbles li:nth-child(1) {
	left: 10%;
}
.w3lsg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 17s;
	-moz-animation-duration: 17s;
	-o-animation-duration: 17s;
	animation-duration: 17s;
}
.w3lsg-bubbles li:nth-child(3) {
	left: 25%;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.w3lsg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	-webkit-animation-duration: 22s;
	-moz-animation-duration: 22s;
	-o-animation-duration: 22s;
	-ms-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(72, 110, 52, 0);
}
.w3lsg-bubbles li:nth-child(5) {
	left: 80%;
}
.w3lsg-bubbles li:nth-child(6) {
	left: 100%;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	background-color: rgba(72, 110, 52, 0);
}
.w3lsg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 80px;
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	-o-animation-delay: 7s;
	-ms-animation-delay: 7s;
	animation-delay: 7s;
}
.w3lsg-bubbles li:nth-child(8) {
	left: 55%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s; 
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	-moz-animation-duration: 40s;
	animation-duration: 40s;
}
.w3lsg-bubbles li:nth-child(9) {
	left: 40%;
	width: 40px;
	height: 40px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	background-color: rgba(72, 110, 52, 0);
}
.w3lsg-bubbles li:nth-child(10) {
	left: 125%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 11s;
	animation-delay: 11s;
}
@-webkit-keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg); 
		-o-transform: translateY(-700px) rotate(600deg); 
		-ms-transform: translateY(-700px) rotate(600deg); 
		transform: translateY(-700px) rotate(600deg);        
	}
}
@keyframes square {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0); 
		-o-transform: translateY(0); 
		-ms-transform: translateY(0);
		transform: translateY(0);        
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		-moz-transform: translateY(-700px) rotate(600deg);
		-o-transform: translateY(-700px) rotate(600deg); 
		-ms-transform: translateY(-700px) rotate(600deg);
		transform: translateY(-700px) rotate(600deg);        
	}
}
/*-- responsive-design --*/ 