.fc-sun,.fc-mon,.fc-tue,.fc-wed,.fc-thu,.fc-fri,.fc-sat{
	cursor: pointer;
    height: inherit;
    width: inherit;
}
td.fc-sun:hover, td.fc-mon:hover,
td.fc-tue:hover, td.fc-wed:hover,
td.fc-thu:hover, td.fc-fri:hover,
td.fc-sat:hover, td.fc-day-content:hover{
	background-color: #dff0d8;
}