
#wrapper table{border-collapse:collapse;border-spacing:0}
#wrapper caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
#wrapper q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}html,button,input,select,textarea{color:#222}html{font:100% "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,img,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.browsehappy{margin:0px 0px 10px 0px;padding:0.5em 0em;background:#aac739;color:#4f4f4f;text-align:center}body{background:#fff;color:#000}

ol,ul{list-style:none}

.dialpad .number{
	position:relative;
	z-index:2;
	padding:7px 8px;
	color:#4d4d4d;
	font-weight:300;
	font-size:18px;
	background:#fff;
}
.dialpad .dials{margin:-1px 0 0 -1px;background:#1d1918;cursor:pointer}.dialpad .dials:before,.dialpad .dials:after{content:"\0020";display:block;height:0;overflow:hidden}.dialpad .dials:after{clear:both}.dialpad .dials .digits{float:left;width:33.33%}
.dialpad .dials .digits p{
		font-weight:600;
		padding:5px 6px;border-top:1px solid #4d4d4d;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #4d4d4d
		}
.dialpad .dials .digits p strong{font-size:48px;margin-right:8px;color:#fff}
		.dialpad .dials .digits:active{background:#00caf2;border-top-color:#b2f2ff}
		.compact .dials .digits p{padding:5px 6px}
		.compact .dials .digits p strong{font-size:26px}
		.compact .dials .digits p sup{text-transform:uppercase;color:#c1c1c1}
		.compact .dials .pad-call{background:#d12610}
		.compact .dials .pad-action{background:#093}.compact .dials .pad-action:active{background:#0c3}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{}
#wrapper{
	margin-top:5px;
}

